
<div class="hide">
    <div id="printdiv">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 style="font-weight:600">
                        Urban Services
                    </h3>
                    <h4 style="font-weight:500">
                        73-E-1, Hali Road,
                        <br>
                        Gulberg-III, Lahore
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>
                        Phone # &nbsp;&nbsp;&nbsp;&nbsp; +92 42 3575 4921, UAN: +92 42 111 109 111<br>
                        E-mail  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   accounts@ittowershoppingmall.com<br>
                        Web Site &nbsp;&nbsp;&nbsp;&nbsp;  www.ittowershoppingmall.com
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1 style="font-weight:  800; float:right;margin-top:0px">Invoice</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div style="border:1px solid #000 ; height: 148px;margin-top:3px">
                        <h5 style="font-weight:600;padding: 0px 10px;border-bottom:1px solid #000">
                            <span>Customer Information</span> <span style="float:right">OF8-28</span>
                        </h5>
                        <h6 style="padding-left:10px">
                            Tenant- Allianz EFU Health Insurance.Ltd<br>
                            OF8-28/A<br>
                            I.T Tower Shopping Mall,<br>
                            73-E-1, Hali Road, Gulberg III<br>
                            Lahore
                        </h6>
                    </div>
                </div>
                <div class="col-xs-6" style="height:100%;margin-top:3px">
                    <table border="2px" style="width:100%">
                        <tr>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Meter No:</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>PT-27460</span>
                            </td>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Invoice No:</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>IT-27460</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Previous Reading:</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>5161.5</span>
                            </td>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Invoice Date</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>26-Jan-2023</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Current Reading:</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>5431.6</span>
                            </td>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Due Date</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>05-Feb-2023</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Reading Date</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>22-Jan-2023</span>
                            </td>
                            <th class="text-center">
                                <h5 style="font-weight:600;padding: 0px 10px;">
                                    <span>Billing Month</span>
                                </h5>
                            </th>
                            <td class="text-center">
                                <span>January-2023</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12">
                    <table border="2" style="width:100%;margin-top:3px">
                        <thead>
                            <tr>
                                <th class="text-center">Description</th>
                                <th class="text-center">Area / Qty</th>
                                <th class="text-center">U/M</th>
                                <th class="text-center">Unit Price</th>
                                <th class="text-center">Total Amount</th>
                            </tr>
                        </thead>
                        
                    </table>
                </div>
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <table border="1" style="width:100%">
                        <tr>
                            <th>Withholding Tax</th>
                            <th>PKR 90,510.22</th>
                        </tr>
                        <tr>
                            <th>Payment Before Due Date</th>
                            <th>PKR 90,510.22</th>
                        </tr>
                        <tr>
                            <th>L.P Surcharge at 10%</th>
                            <th>PKR 0.00</th>
                        </tr>
                        <tr>
                            <th>Payment After Due Date</th>
                            <th>PKR 90,510.22</th>
                        </tr>

                        <tr>
                            <th>Total Dues</th>
                            <th>PKR 90,510.22</th>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h3>
                        Payment Terms:
                    </h3>
                    <p>
                        Please pay by due date as above. In case of non-payment till due date, late Payment Surcharge at 10% will be charged to
                        customer.<br>
                        If you still fail to pay within 5 days of due date, your office / shop will be sealed and / or all services will be disconnected
                        and terminated. Penalty charges for reconnection Rs. 1,000/- will apply. <br>
                        This invoice is exclusivce of all Taxes.


                    </p>
                    <h3>
                        Payment Method:
                    </h3>
                    <p>
                        Cash Deposit in Accounts Department of I.T Tower Shopping Mall, 73-E-1, Hali Road, Gulberg-III, Lahore
                    </p>
                    <p class="text-center">Or</p>
                    <p>
                        Deposit into Bank Account: Dubai Islamic Bank, N-Stack Z Block Phase III Branch, Lahore. Account Title:
                        URBAN Services IBAN #: PK11DUIB0000000470307001
                        <br>
                        Please mention Invoice # as reference, in case of payment through bank and send us proof of payment


                    </p>
                </div>
            </div>

        </div>

    </div>
</div>

