.modal-backdrop.in {
    filter: alpha(opacity=0);
    opacity: 0 !important;
    z-index: 0 !important;
}
select {
    width: 250px;
    height: 30px;
}
h5{
    text-align:center;
    margin-bottom:8%;
}
legend {
    border-bottom: 1px solid #ebebebc7;
}

.topMargin {
    margin-top: 10px;
}

.topSectionMargin {
    margin-top: 20px;
}

.btnbrowse {
    margin-top: 10px;
}

.modal-content .modal-header {
    padding: 12px;
}

.modal-content .modal-header h4 {
    font-size: 21px;
}

button.close {
    padding: 6px;
}

.modal label, .content label {
    color: black;
    font-size: 14px !important;
}

.modal-content .modal-body {
    padding-right: 50px;
    padding-left: 50px;
}

.modal .form-group {
    margin: 0;
}

.modal #personal-info {
    padding-right: 20px;
}