th {
    background-color: #f7f7f782;
}

.box .box-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box-body {
    padding: 20px;
}

.box .box-header .box-title {
    margin-right: auto;
    padding: 15px;
    padding-left: 0;
}

.box>.box-header>.doc-nav {
    margin-right: 30px;
}

.box .box-header .btn {
    padding: 10px 15px;
    height: 41px;
}

.navbar .navbar-nav>li>a {
    padding-top: 19px;
    padding-bottom: 19px;
}

.btn:focus {
    outline: none !important;
}

.red-text {
    color: tomato;
}

.red-text:focus {
    color: #c62828
}

.content-header>.breadcrumb>li>.fa {
    margin-right: 5px;
}

.dt-button-collection.dropdown-menu {
    padding: 0;
}

.split-col {
    border-right:solid 1px #ebebebc7;
}

.radio-adjust {
    margin-top: 4px;
}

td.details-control {
    cursor: pointer;
}

#emp-dataTable tr:not([role="row"]) {
    background-color: #ebebebdb;
}

#emp-dataTable tr:not([role="row"]) td {
    padding: 4px
}

#emp-dataTable tr[role='row']>td:not(:first-child) {
    cursor: default;
}

table.dataTable tbody tr.selected {
    background-color: #ececec;
}

.disabled {
    opacity: 0.45 !important;
    pointer-events: none;
}

.cfl-container {
    display: flex;
}

.cfl-container span {
    height: 18px; 
    padding-top: 3px; 
    width: 18px;
}

.cfl-container i {
    cursor: pointer;
}

td>input[name="id"] {
    width: 16px !important;
}

.fa-plus-circle:before, .fa-minus-circle:before {
    margin-right: 6px;
}

.fa-plus-circle:before {
    color: #31b131;
}

.fa-minus-circle:before {
    color: #e84a4a;
}