.form-group select {
    -webkit-appearance: menulist;
    margin-bottom: 7px;
}

#empModal .col-sm-8 > select, #emp-update-modal .col-sm-8 > select {
    margin-top: 9px;
}

#empModal .modal-body, #emp-update-modal .modal-body {
    padding: 0;
}

#empModal .nav-tabs-custom, #emp-update-modal .nav-tabs-custom {
    box-shadow: none;
}

#empModal .nav-tabs-custom>.nav-tabs>li>a, #emp-update-modal .nav-tabs-custom>.nav-tabs>li>a {
    color: #4d4d4d !important;
}

#empModal .nav-tabs-custom>.nav-tabs>li.active>a, #emp-update-modal .nav-tabs-custom>.nav-tabs>li.active>a {
    color: #111111 !important;
}

#empModal .nav-tabs-custom>.nav-tabs>li.active, #emp-update-modal .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: transparent;
    border-radius: 1px;
}

#empModal .nav-tabs-custom>.nav-tabs, #emp-update-modal .nav-tabs-custom>.nav-tabs {
    border-radius: 0;
}

#empModal .nav-tabs-custom>.tab-content, #emp-update-modal .nav-tabs-custom>.tab-content {
    padding: 40px;
}

#emp-salary-dataTable input[type="text"], #emp-leave-dataTable input[type="text"] {
    height: 20px;
    color: black;
    background-color: transparent;
    border-width: 0;
    width: 100%;
}

table input {
    background-color: transparent;
    border-width: 0;
}

td input:read-only, .select td {
    cursor: default;
}

.table-bordered>tbody>tr>td.grey-cell {
    border-color: #e0e0e0a6;
}

#emp-salary-dataTable td, #emp-leave-dataTable td {
    line-height: 14px;
    padding: 8px 10px 8px 10px;
}

button[data-original-title="Add Employee"]:focus {
    outline: none !important;
}

.grey-cell {
    background-color: #f7f7f782;
}

.checkbox .checkbox-material {
    top: 5px;
    margin-right: 6px;
}

.form-group .checkbox label {
    color: #909090;
}

.form-group.is-focused .checkbox label:hover {
    color: #555555;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #222d32;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.variable {
    font-weight: 400;
}

.cfl-parent {
    padding: 5px;
    margin: 5px;
}

.control-sidebar .form-control {
    color: #8aa4af;
}